* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.hero {
  color: white;
  width: 100%;
  margin: 6.4rem 0;
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

/* =========hero img========== */

.hero-img .img-container img {
  width: 25rem;
  height: auto;
  border-radius: 4rem 0px 4rem 0px;
  border-right: 0.6rem solid var(--color-blue);
  border-bottom: 0.6rem solid var(--color-blue);
}

/* =========hero text========== */

.hero-text {
  max-width: 70rem;
}

.hero-text p {
  font-size: 1.6rem;
  font-weight: 200;
  opacity: 0.8;
}

.hero-text p span {
  color: var(--color-blue);
  font-size: 1.6rem;
  font-weight: 400;
}

.hero-text h1 {
  margin-top: 1.2rem;
  font-size: 4.8rem;
}

.hero-text h3 {
  margin-top: 1.8rex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.8rem;
  opacity: 0.75;
  text-align: justify;
}

.hero-text .msg-btn {
  margin-top: 3.6rem;
  color: white;
  font-weight: 400;
  background-color: var(--color-blue);
  padding:1.2rem 4.8rem;
  border: 2px solid rgb(86, 88, 226);
  border-radius: 2rem 0 2rem 0px;
  font-size: 2.2rem;
}

.hero-text .msg-btn:hover {
  background-color: var(--color-bg);
}

/* .hero-text .connect-btn {
    margin-top: 36px;
    color: white;
    font-weight: 400;
    background-color: var(--color-blue);
    height: 42px;
    width: 42px;
    border: 2px solid rgb(86, 88, 226);
    border-radius: 30px;
    margin-left: 40px;
} */

.hero-text .connect-btn .icon {
  color: black;
  width: 4rem;
  height: 4rem;
}

.text-align {
  text-align: center;
}

/* =========media querries========== */
@media screen and (max-width: 420px) {
  .hero {
    flex-direction: column-reverse;
    height: auto;
  }

  .container {
    flex-direction: column-reverse !important;
    justify-content: center;
    gap: 2rem !important;
  }

  .hero-img {
    margin: 0 auto;
  }

  .hero-img .img-container img {
    width: 30rem;
    margin-top: 4rem;
  }

  .hero-text {
    width: 100%;
    margin-top: rem;
    padding: 0 2rem 0 2rem;
    text-align: center;
  }

  .hero-text p {
    font-size: 1.2rem;
  }

  .hero-text p span {
    font-size: 1.2rem;
  }

  .hero-text h1 {
    font-size: 3.2rem;
  }

  .hero-text h3 {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
